/* Shared styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.logo-text {
    font-size: 2.5rem;
    font-weight: 700;
}

.logo-g {
    color: #FF42A5;
}

.primary-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
}

.btn-primary {
    padding: 20px 40px;
    border-radius: 48px;
    border: none;
    background-color: #F948B2;
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 20px;
}

.section-title {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-description {
    color: #534C64;
    font-size: 0.75rem;
    font-weight: 400;
}

/* Navigation section */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-icon {
    width: 85px;
    height: 40px;
}

.menu {
    display: flex;
    align-items: center;
    color: #3C354F;
    font-size: 0.75rem;
    font-weight: 500;
}

.menu li {
    list-style: none;
    margin-right: 32px;
}

.menu a {
    text-decoration: none;
}

.follow-us-span {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);  
    padding: 15px 24px;

}

.social-logo {
    height: 24px;
    margin-left: 10px;
}


/* Banner section */

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    background-image: url('../images/Group\ 14.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    text-align: left;
    padding-left: 200px;
}

.banner-title-1 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title-2 {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 0;
}

.banner-description {
    text-align: left;
}

.btn-rogue {
    background-color: #4EC5F7;
}

.banner-img {
    padding-right: 120px;
    width: 550px;
}

/* We are gamer section */

.we-are-gamer {
    display: flex;
    padding: 70px 200px;
    background-color: #FFF9FC;
    align-items: center;
    justify-content: space-between;
}

.gamer-img {
    width: 100%;
}

.gamer-info-container {
    text-align: right;
}

.gamer-info-container .section-description {
    width: 450px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 30px;
}

.purpose-text {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
}

.unleash-text {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
}

/* Responsive properties */

/* For mobile screen */

@media screen and (max-width:576px) {
    nav {
        padding: 10px 30px;
        justify-content: center;
        align-items: center;
    }

    nav,
    .menu,
    .we-are-gamer {
        flex-direction: column;
        text-align: center;
    }

    .menu li {
        margin-bottom: 20px;
    }

    .logo {
        margin: 0 auto;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        width: 350px;
        gap: 50px;
    }

    .banner-content {
        padding-left: 100px;
        width: 100%;
        background-size: cover;
    }

    .banner-img {
        width: 100%;
        padding: 0 30px;
    }

    .we-are-gamer {
        width: auto;
        padding: 0 20px;
    }

    .gamer-info-container {
        text-align: center;
    }

    .gamer-info-container .section-description {
        width: 70%;
        margin: 0 auto;
    }

}

/* For tablet screen */

@media screen and (min-width: 576px) and (max-width: 960px) {
    nav,
    .we-are-gamer {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;
        gap: 50px;
    }

    .banner-content {
        padding-left: 100px;
        background-size: cover;
    }

    .banner-img {
        width: 100%;
        padding: 0;
    }

    .gamer-info-container {
        text-align: center;
    }

    .gamer-info-container .section-description {
        width: 70%;
        margin: 0 auto;
    }
}